<template name="mist_alert">
  <div class="alert-banner {{alertViewState}}">
    <section>
      <h1> ⚠︎ Warning</h1>
      <button type="button" class="hide-alert close-button">&times;</button>
      <p>
        We urge you not to browse untrusted websites with Ellagem. Users of "Ellagem Wallet" desktop app are not affected.
      </p>
      <p>
        <a class="hide-alert button" href="javascript:void(0)">Close this message</a>
        <a class="hide-alert button download-button" href="https://github.com/ellaism-io/ellagem/releases">Download Ellagem Wallet</a>
      </p>
    </section>
  </div>

  <div class="show-alert alert-bubble {{bubbleViewState}}">
    <button>
      <span class="icon-bell"></span>
    </button>
  </div>
</template>
